@font-face {
  font-family: Avenir-book;
  src: url('../../fonts/Avenir-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir-heavy;
  src: url('../../fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
